<script language='JavaScript' type='text/javascript'>

    function jsonFormatReplace(text) {
        return text
            .replace(/&quot;/g,'"')
            .replace(/&apos;/g,"'")
            .replace(/&#x27;/g,"'")
            .replace(/&amp;quot;/g,'\\\"')
            .replace(/&#x3D;/g,"=")
            .replace(/&lt;/g, '<')
            .replace(/&gt;/g, '>');
    };

    /*
    -------------------------------------------
    TOKENS
    -------------------------------------------
    */

    var tokenMapbox = "{{tokenMapbox}}";

    /*
    -------------------------------------------
    META INFORMATION
    -------------------------------------------
    */

    var greziVersion = "{{greziVersion}}";

    var graphVersion = "{{graphVersion}}";

    var templateVersion = "{{templateVersion}}";

    var idGraph = "{{graphName}}";

    var idGraph_path = '../../template_data/' + idGraph + '/';

    var titleGraph = "{{titleGraph}}";

    var datasetSelection = {{auth_DatasetSelection}};

    var datasetIdDefault = JSON.parse(jsonFormatReplace("{{config_DatasetDefault}}"));

    var featuresGraph_dictFun = {
        animation: {"name": "Animation en introduction", "choice": "boolean"},
        physics: {"name": "Physique des éléments", "choice": "boolean"},
        static: {"name": "Éléments figés", "choice": "boolean"},
        compaction: {"name": "Compaction du graphe", "choice": "undefined"},
        padding: {"name": "Espace autour du graphe", "choice": "undefined"},
        fcoseOnLoad: {"name": "Réorganisation du graphe au chargement", "choice": "boolean"},
        editorOnLoad: {"name": "Menu éditeur activé au chargement", "choice": "boolean"},
        mapOnLoad: {"name": "Cartographie activée au chargement", "choice": "boolean"},
        featureReload: {"name": "Bouton de réinitialisation", "choice": "boolean"},
        featureMillesime: {"name": "Sélecteur de millésimes", "choice": "boolean"},
        featureSearchBar: {"name": "Barre de recherche", "choice": "boolean"},
        tooltips: {"name": "Pop-up au survol des éléments", "choice": "boolean"},
        modalSelection: {"name": "Fiche descriptive au clic des éléments", "choice": "boolean"},
        infoBubbles: {"name": "Bulles d\'information", "choice": "boolean"},
        infoTags: {"name": "Étiquettes", "choice": "boolean"}
    };

    var featuresButtons_dictFun = {
        toggle_fullscreen: {"name": "Afficher en plein écran","svg": "../../assets/icon/arrows-alt.svg"},
        toggle_graphs: {"name": "Retourner à la sélection du gabarit","svg": "../../assets/icon/appli-graph.svg"},
        toggle_lateralScreen: {"name": "Afficher le volet latéral pour plus de précisions sur les éléments","svg": "../../assets/icon/eye.svg"},
        toggle_modeMap: {"name": "Basculer vers la carte géographique","svg": "../../assets/icon/map.svg"},
        toggle_stabilization: {"name": "Recentrer la vue","svg": "../../assets/icon/map-marker-alt.svg"},
        toggle_physics: {"name": "Gestion de la physique","svg": "../../assets/icon/shapes.svg"},
        toggle_fcose: {"name": "Améliorer la disposition des éléments","svg": "../../assets/icon/fcose.svg"},
        toggle_ori_pos: {"name": "Retrouver les positions initiales","svg": "../../assets/icon/ori_pos.svg"},
        toggle_ind_link: {"name": "Afficher les liens indirects","svg": "../../assets/icon/ind_link.svg"},
        toggle_highlighter: {"name": "Mise en avant des éléments","svg": "../../assets/icon/highlight_self.svg"},
        toggle_modeEditor: {"name": "Mode éditeur","svg": "../../assets/icon/pencil-alt.svg"},
        toggle_modeProximity: {"name": "Mode \"graphe de proximité\"","svg": "../../assets/icon/arrows-to-circle-solid.svg"},
        toggle_summary: {"name": "Résumé du graphe","svg": "../../assets/icon/align-left.svg"},
        toggle_save: {"name": "Exporter le contenu du graphe","svg": "../../assets/icon/file-alt.svg"},
        toggle_information: {"name": "Informations sur l\'application","svg": "../../assets/icon/information-alt.svg"},
        toggle_bug: {"name": "Faire remonter un problème","svg": "../../assets/icon/bug.svg"}
    };

    var featuresLoading_dictFun = {
        eulerComputation: "Algorithme de disposition Euler",
        showInformation: "Activer le tutoriel",
        clickToBegin: "Cliquer pour commencer",
        debug: "Mode debug"
    };

    /*
    -------------------------------------------
    MAIN FEATURES
    -------------------------------------------
    */

	var featuresGraph = {
        lightView: {{#if config_featuresGraph.lightView}}{{config_featuresGraph.lightView}}{{else}}false{{/if}},
        webgl: {{#if config_featuresGraph.webgl}}{{config_featuresGraph.webgl}}{{else}}false{{/if}},
        showLabels: {{#if config_featuresGraph.showLabels}}{{config_featuresGraph.showLabels}}{{else}}false{{/if}},
        animation: {{#if config_featuresGraph.animation}}{{config_featuresGraph.animation}}{{else}}false{{/if}},
        physics: {{#if config_featuresGraph.physics}}{{config_featuresGraph.physics}}{{else}}false{{/if}},
        static: {{#if config_featuresGraph.static}}{{config_featuresGraph.static}}{{else}}false{{/if}},
        compaction: {{#if config_featuresGraph.compaction}}{{config_featuresGraph.compaction}}{{else}}1{{/if}},
        padding: {{#if config_featuresGraph.padding}}{{config_featuresGraph.padding}}{{else}}50{{/if}},
        minZoom: {{#if config_featuresGraph.minZoom}}{{config_featuresGraph.minZoom}}{{else}}0.05{{/if}},
        maxZoom: {{#if config_featuresGraph.maxZoom}}{{config_featuresGraph.maxZoom}}{{else}}3{{/if}},
        modeHighlighter: {{#if config_featuresGraph.modeHighlighter}}JSON.parse(jsonFormatReplace("{{config_featuresGraph.modeHighlighter}}")){{else}}""{{/if}},
        typeHighlighter: {{#if config_featuresGraph.typeHighlighter}}JSON.parse(jsonFormatReplace("{{config_featuresGraph.typeHighlighter}}")){{else}}""{{/if}},
        edgeOpacity: {{#if (or (eq config_featuresGraph.edgeOpacity 0) config_featuresGraph.edgeOpacity)}}{{config_featuresGraph.edgeOpacity}}{{else}}1{{/if}},
        edgeHovering: {{#if config_featuresGraph.edgeHovering}}{{config_featuresGraph.edgeHovering}}{{else}}false{{/if}},
        fcoseOnLoad: {{#if config_featuresGraph.fcoseOnLoad}}{{config_featuresGraph.fcoseOnLoad}}{{else}}false{{/if}},
        lateralOnLoad: {{#if config_featuresGraph.lateralOnLoad}}{{config_featuresGraph.lateralOnLoad}}{{else}}false{{/if}},
        editorOnLoad: {{#if config_featuresGraph.editorOnLoad}}{{config_featuresGraph.editorOnLoad}}{{else}}false{{/if}},
        mapOnLoad: {{#if config_featuresGraph.mapOnLoad}}{{config_featuresGraph.mapOnLoad}}{{else}}false{{/if}},
        featureReload: {{#if config_featuresGraph.featureReload}}{{config_featuresGraph.featureReload}}{{else}}false{{/if}},
        featureMillesime: {{#if config_featuresGraph.featureMillesime}}{{config_featuresGraph.featureMillesime}}{{else}}false{{/if}},
        featureClustering: {{#if config_featuresGraph.featureClustering}}{{config_featuresGraph.featureClustering}}{{else}}false{{/if}},
        featureSearchBar: {{#if config_featuresGraph.featureSearchBar}}{{config_featuresGraph.featureSearchBar}}{{else}}false{{/if}},
        featureLegend: {{#if config_featuresGraph.featureLegend}}{{config_featuresGraph.featureLegend}}{{else}}false{{/if}},
        featureFarView: {{#if config_featuresGraph.featureFarView}}{{config_featuresGraph.featureFarView}}{{else}}false{{/if}},
        featureFarView_automatic: {{#if config_featuresGraph.featureFarView_automatic}}{{config_featuresGraph.featureFarView_automatic}}{{else}}false{{/if}},
        featureContextMenu: {{#if config_featuresGraph.featureContextMenu}}{{config_featuresGraph.featureContextMenu}}{{else}}false{{/if}},
        featureScreenShot: {{#if config_featuresGraph.featureScreenShot}}{{config_featuresGraph.featureScreenShot}}{{else}}false{{/if}},
        featureLlm: {{#if config_featuresGraph.featureLlm}}{{config_featuresGraph.featureLlm}}{{else}}false{{/if}},
        featureBubblesets: {{#if config_featuresGraph.featureBubblesets}}{{config_featuresGraph.featureBubblesets}}{{else}}false{{/if}},
        tooltips: {{#if config_featuresGraph.tooltips}}{{config_featuresGraph.tooltips}}{{else}}false{{/if}},
        modalSelection: {{#if config_featuresGraph.modalSelection}}{{config_featuresGraph.modalSelection}}{{else}}false{{/if}},
        infoBubbles: {{#if config_featuresGraph.infoBubbles}}{{config_featuresGraph.infoBubbles}}{{else}}false{{/if}},
        infoTags: {{#if config_featuresGraph.infoTags}}{{config_featuresGraph.infoTags}}{{else}}false{{/if}}
    };

	var featuresButtons = {
        toggle_fullscreen: {{#if config_featuresButtons.toggle_fullscreen}}{{config_featuresButtons.toggle_fullscreen}}{{else}}true{{/if}},
        toggle_graphs: {{#if config_featuresButtons.toggle_graphs}}{{config_featuresButtons.toggle_graphs}}{{else}}false{{/if}},
        toggle_lateralScreen: {{#if config_featuresButtons.toggle_lateralScreen}}{{config_featuresButtons.toggle_lateralScreen}}{{else}}false{{/if}},
        toggle_stabilization: {{#if config_featuresButtons.toggle_stabilization}}{{config_featuresButtons.toggle_stabilization}}{{else}}false{{/if}},
        toggle_physics: {{#if config_featuresButtons.toggle_physics}}{{config_featuresButtons.toggle_physics}}{{else}}false{{/if}},
        toggle_fcose: {{#if config_featuresButtons.toggle_fcose}}{{config_featuresButtons.toggle_fcose}}{{else}}false{{/if}},
        toggle_ori_pos: {{#if config_featuresButtons.toggle_ori_pos}}{{config_featuresButtons.toggle_ori_pos}}{{else}}false{{/if}},
        toggle_ind_link: {{#if config_featuresButtons.toggle_ind_link}}{{config_featuresButtons.toggle_ind_link}}{{else}}false{{/if}},
        toggle_highlighter: {{#if config_featuresButtons.toggle_highlighter}}{{config_featuresButtons.toggle_highlighter}}{{else}}false{{/if}},
        toggle_modeEditor: {{#if config_featuresButtons.toggle_modeEditor}}{{config_featuresButtons.toggle_modeEditor}}{{else}}false{{/if}},
        toggle_modeProximity: {{#if config_featuresButtons.toggle_modeProximity}}{{config_featuresButtons.toggle_modeProximity}}{{else}}false{{/if}},
        toggle_modeMap: {{#if config_featuresButtons.toggle_modeMap}}{{config_featuresButtons.toggle_modeMap}}{{else}}false{{/if}},
        toggle_summary: {{#if config_featuresButtons.toggle_summary}}{{config_featuresButtons.toggle_summary}}{{else}}false{{/if}},
        toggle_save: {{#if config_featuresButtons.toggle_save}}{{config_featuresButtons.toggle_save}}{{else}}false{{/if}},
        toggle_information: {{#if config_featuresButtons.toggle_information}}{{config_featuresButtons.toggle_information}}{{else}}true{{/if}},
        toggle_bug: {{#if config_featuresButtons.toggle_bug}}{{config_featuresButtons.toggle_bug}}{{else}}true{{/if}}
    };

	var featuresLoading_FORCING = {
        eulerComputation: {{#if config_featuresLoading_FORCING.eulerComputation}}"{{config_featuresLoading_FORCING.eulerComputation}}"{{else}}"false"{{/if}},
        showInformation: {{#if config_featuresLoading_FORCING.showInformation}}"{{config_featuresLoading_FORCING.showInformation}}"{{else}}"true"{{/if}},
        clickToBegin: {{#if config_featuresLoading_FORCING.clickToBegin}}"{{config_featuresLoading_FORCING.clickToBegin}}"{{else}}"false"{{/if}},
        debug: {{#if config_featuresLoading_FORCING.debug}}"{{config_featuresLoading_FORCING.debug}}"{{else}}"false"{{/if}}
    };

    /*
    -------------------------------------------
    SPECIFIC FEATURES
    -------------------------------------------
    */

	var featuresGraph_MillesimeOptions = {
        millesimeSeparator: {{#if config_featuresGraph_MillesimeOptions.millesimeSeparator}}"{{config_featuresGraph_MillesimeOptions.millesimeSeparator}}"{{else}}","{{/if}},
        millesimeField_Nodes: {{#if config_featuresGraph_MillesimeOptions.millesimeField_Nodes}}"{{config_featuresGraph_MillesimeOptions.millesimeField_Nodes}}"{{else}}"year"{{/if}},
        millesimeField_Edges: {{#if config_featuresGraph_MillesimeOptions.millesimeField_Edges}}"{{config_featuresGraph_MillesimeOptions.millesimeField_Edges}}"{{else}}"year"{{/if}}
    };

	var featuresGraph_SearchBarOptions = {
        categoriesToHide: {{#if config_featuresGraph_SearchBarOptions.categoriesToHide}}JSON.parse(jsonFormatReplace("{{config_featuresGraph_SearchBarOptions.categoriesToHide}}")){{else}}[]{{/if}},
        categoriesToHide_EvenInDebugMode: {{#if config_featuresGraph_SearchBarOptions.categoriesToHide_EvenInDebugMode}}JSON.parse(jsonFormatReplace("{{config_featuresGraph_SearchBarOptions.categoriesToHide_EvenInDebugMode}}")){{else}}[]{{/if}},
        categoriesToRename: {{#if config_featuresGraph_SearchBarOptions.categoriesToRename}}JSON.parse(jsonFormatReplace("{{config_featuresGraph_SearchBarOptions.categoriesToRename}}")){{else}}[]{{/if}}
    };

	var featuresGraph_LegendOptions = {
        showTypes: {{#if config_featuresGraph_LegendOptions.showTypes}}{{config_featuresGraph_LegendOptions.showTypes}}{{else}}false{{/if}},
        showTypes_WithCategories: {{#if config_featuresGraph_LegendOptions.showTypes_WithCategories}}{{config_featuresGraph_LegendOptions.showTypes_WithCategories}}{{else}}false{{/if}},
        customLabel_Types: {{#if config_featuresGraph_LegendOptions.customLabel_Types}}"{{config_featuresGraph_LegendOptions.customLabel_Types}}"{{else}}""{{/if}},
        showNodes: {{#if config_featuresGraph_LegendOptions.showNodes}}{{config_featuresGraph_LegendOptions.showNodes}}{{else}}false{{/if}},
        showNodes_WithCategories: {{#if config_featuresGraph_LegendOptions.showNodes_WithCategories}}{{config_featuresGraph_LegendOptions.showNodes_WithCategories}}{{else}}false{{/if}},
        showNodes_Dictionnary: {{#if config_featuresGraph_LegendOptions.showNodes_Dictionnary}}JSON.parse(jsonFormatReplace("{{config_featuresGraph_LegendOptions.showNodes_Dictionnary}}")){{else}}[]{{/if}},
        customLabel_Nodes: {{#if config_featuresGraph_LegendOptions.customLabel_Nodes}}"{{config_featuresGraph_LegendOptions.customLabel_Nodes}}"{{else}}""{{/if}},
        showEdges: {{#if config_featuresGraph_LegendOptions.showEdges}}{{config_featuresGraph_LegendOptions.showEdges}}{{else}}false{{/if}},
        showEdges_WithCategories: {{#if config_featuresGraph_LegendOptions.showEdges_WithCategories}}{{config_featuresGraph_LegendOptions.showEdges_WithCategories}}{{else}}false{{/if}},
        showEdges_Dictionnary: {{#if config_featuresGraph_LegendOptions.showEdges_Dictionnary}}JSON.parse(jsonFormatReplace("{{config_featuresGraph_LegendOptions.showEdges_Dictionnary}}")){{else}}[]{{/if}},
        customLabel_Edges: {{#if config_featuresGraph_LegendOptions.customLabel_Edges}}"{{config_featuresGraph_LegendOptions.customLabel_Edges}}"{{else}}""{{/if}},
        showClusterCategories_Entity: {{#if config_featuresGraph_LegendOptions.showClusterCategories_Entity}}{{config_featuresGraph_LegendOptions.showClusterCategories_Entity}}{{else}}false{{/if}},
        showClusterCategories_ClusterGroup: {{#if config_featuresGraph_LegendOptions.showClusterCategories_ClusterGroup}}{{config_featuresGraph_LegendOptions.showClusterCategories_ClusterGroup}}{{else}}false{{/if}},
        showClusterCategories_Type: {{#if config_featuresGraph_LegendOptions.showClusterCategories_Type}}{{config_featuresGraph_LegendOptions.showClusterCategories_Type}}{{else}}false{{/if}},
        clusterLabel_Entity: {{#if config_featuresGraph_LegendOptions.clusterLabel_Entity}}"{{config_featuresGraph_LegendOptions.clusterLabel_Entity}}"{{else}}""{{/if}},
        clusterLabel_ClusterGroup: {{#if config_featuresGraph_LegendOptions.clusterLabel_ClusterGroup}}"{{config_featuresGraph_LegendOptions.clusterLabel_ClusterGroup}}"{{else}}""{{/if}},
        clusterLabel_Type: {{#if config_featuresGraph_LegendOptions.clusterLabel_Type}}"{{config_featuresGraph_LegendOptions.clusterLabel_Type}}"{{else}}""{{/if}},
        showClusterCategories_WithClusteringButtons: {{#if config_featuresGraph_LegendOptions.showClusterCategories_WithClusteringButtons}}{{config_featuresGraph_LegendOptions.showClusterCategories_WithClusteringButtons}}{{else}}false{{/if}},
        showFarViewControl_automatic: {{#if config_featuresGraph_LegendOptions.showFarViewControl_automatic}}{{config_featuresGraph_LegendOptions.showFarViewControl_automatic}}{{else}}false{{/if}},
        showBubblesetsControl: {{#if config_featuresGraph_LegendOptions.showBubblesetsControl}}{{config_featuresGraph_LegendOptions.showBubblesetsControl}}{{else}}false{{/if}},
        showLabelsControl: {{#if config_featuresGraph_LegendOptions.showLabelsControl}}{{config_featuresGraph_LegendOptions.showLabelsControl}}{{else}}false{{/if}},
        showLabelsOnLoad: {{#if config_featuresGraph_LegendOptions.showLabelsOnLoad}}{{config_featuresGraph_LegendOptions.showLabelsOnLoad}}{{else}}false{{/if}},
        showFarViewControl_manual: {{#if config_featuresGraph_LegendOptions.showFarViewControl_manual}}{{config_featuresGraph_LegendOptions.showFarViewControl_manual}}{{else}}false{{/if}},
        hideTypesInCloseView: {{#if config_featuresGraph_LegendOptions.hideTypesInCloseView}}{{config_featuresGraph_LegendOptions.hideTypesInCloseView}}{{else}}false{{/if}},
        showTags: {{#if config_featuresGraph_LegendOptions.showTags}}{{config_featuresGraph_LegendOptions.showTags}}{{else}}false{{/if}},
        openLegendOnLoad: {{#if config_featuresGraph_LegendOptions.openLegendOnLoad}}{{config_featuresGraph_LegendOptions.openLegendOnLoad}}{{else}}false{{/if}}
    };

	var featuresGraph_ProximityModeOptions = {
        classExternalCircle: {{#if config_featuresGraph_ProximityModeOptions.classExternalCircle}}"{{config_featuresGraph_ProximityModeOptions.classExternalCircle}}"{{else}}""{{/if}}
    };

	var featuresGraph_BubblesetsOptions = {
        showBubblesetsOnLoad: {{#if config_featuresGraph_BubblesetsOptions.showBubblesetsOnLoad}}{{config_featuresGraph_BubblesetsOptions.showBubblesetsOnLoad}}{{else}}false{{/if}},
        listBubblesets: {{#if config_featuresGraph_BubblesetsOptions.listBubblesets}}JSON.parse(jsonFormatReplace("{{config_featuresGraph_BubblesetsOptions.listBubblesets}}")){{else}}[]{{/if}}
    };

    /*
    -------------------------------------------
    APPEARANCE
    -------------------------------------------
    */

    var showingCredentials = {
        activate: {{#if config_showingCredentials.activate}}{{config_showingCredentials.activate}}{{else}}false{{/if}},
        title : {{#if config_showingCredentials.title}}"{{config_showingCredentials.title}}"{{else}}""{{/if}},
        img : {{#if config_showingCredentials.img}}"{{config_showingCredentials.img}}"{{else}}""{{/if}}
    };

    var styleMapbox = {{#if config_styleMapbox}}"{{config_styleMapbox}}"{{else}}"mapbox://styles/mapbox/outdoors-v12"{{/if}};

	var featuresColors_FILTER = {{#if config_featuresColors_FILTER}}"{{config_featuresColors_FILTER}}"{{else}}"filter: invert(58%) sepia(34%) saturate(458%) hue-rotate(204deg) brightness(86%) contrast(94%);"{{/if}};

	var dictionnaryIntro_graph = {
		introFirstText: {{#if config_dictionnaryIntro_graph.introFirstText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.introFirstText}}"){{else}}"<p>Voici quelques indications utiles pour faciliter votre prise en main. Vous pouvez cliquer en dehors de la fenêtre pour quitter le tutoriel. Bonne navigation !</p><p><i>Utilisez les flèches du clavier (⬅️/➡️) pour naviguer plus simplement dans le tutoriel.</i></p>"{{/if}},
		mainText: {{#if config_dictionnaryIntro_graph.mainText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.mainText}}"){{else}}"Pour naviguer dans l’interface, déplacez-vous par \"glisser/déposer\" comme dans une cartographie en ligne.</p><p>Un double-clic vous permet de recenter la vue.</p><p>Vous pouvez également zoomer et dézoomer (molette de votre souris ou zoom du pavé tactile)</p><p>Certains éléments sont interactifs. Vous pouvez les déplacer par \"glisser/déposer\", les survoler pour faire apparaître des informations complémentaires et les sélectionner en cliquant dessus."{{/if}},
		editorText: {{#if config_dictionnaryIntro_graph.editorText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.editorText}}"){{else}}"Le mode éditeur est actif au chargement de ce gabarit, double-cliquez pour créer des éléments."{{/if}},
        llmText: {{#if config_dictionnaryIntro_graph.llmText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.llmText}}"){{else}}"Interagir avec l'ia générative basée sur Mixtral."{{/if}},
        animationText: {{#if config_dictionnaryIntro_graph.animationText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.animationText}}"){{else}}"Introduction guidée du graphe."{{/if}},
        screenshotText: {{#if config_dictionnaryIntro_graph.screenshotText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.screenshotText}}"){{else}}"Capture la vue actuelle pour un export en haute qualité."{{/if}},
		viewAllText: {{#if config_dictionnaryIntro_graph.viewAllText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.viewAllText}}"){{else}}"Remettre à zéro la visualisation et relancer le tutoriel."{{/if}},
		millesimeText: {{#if config_dictionnaryIntro_graph.millesimeText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.millesimeText}}"){{else}}"Filtrer en fonction du millésime des données."{{/if}},
		legendText: {{#if config_dictionnaryIntro_graph.legendText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.legendText}}"){{else}}"Cliquer sur le bandeau \"Légende\" pour ouvrir ou fermer le cadre. Choisir les éléments à faire apparaître à l’écran en cochant ou décochant les cases grises."{{/if}},
		searchBarText: {{#if config_dictionnaryIntro_graph.searchBarText}}jsonFormatReplace("{{config_dictionnaryIntro_graph.searchBarText}}"){{else}}"Barre de recherche pour choisir les éléments affichés."{{/if}},
		searchBarText_step1: {{#if config_dictionnaryIntro_graph.searchBarText_step1}}jsonFormatReplace("{{config_dictionnaryIntro_graph.searchBarText_step1}}"){{else}}"Étape 1 : sélectionner une catégorie de recherche dans \"Nouvelle recherche\"."{{/if}},
		searchBarText_step2: {{#if config_dictionnaryIntro_graph.searchBarText_step2}}jsonFormatReplace("{{config_dictionnaryIntro_graph.searchBarText_step2}}"){{else}}"Étape 2 : saisir ou sélectionner le ou les éléments à rechercher."{{/if}},
		searchBarText_step3: {{#if config_dictionnaryIntro_graph.searchBarText_step3}}jsonFormatReplace("{{config_dictionnaryIntro_graph.searchBarText_step3}}"){{else}}"Étape 3 : choisir un mode (zoom ou filtre) pour appliquer la recherche. Pour revenir à la visualisation complète, appliquer \"Filtrer\" à vide."{{/if}},
	};

	var dictColorsTags_custom = {{#if config_dictColorsTags_custom}}JSON.parse(jsonFormatReplace("{{config_dictColorsTags_custom}}")){{else}}{}{{/if}};

	var dataGraph_LEGEND = {{#if config_dataGraph_LEGEND}}jsonFormatReplace("{{config_dataGraph_LEGEND}}"){{else}}""{{/if}};

	var options_Modifier = {{#if config_options_Modifier}}JSON.parse(jsonFormatReplace("{{config_options_Modifier}}")){{else}}[]{{/if}};

    /*
    -------------------------------------------
    DATA TYPING
    -------------------------------------------
    */

    var animationOnLaunch = {{#if config_animationOnLaunch}}{{config_animationOnLaunch}}{{else}}false{{/if}};

    var possibilityToFullScreen = {{#if config_possibilityToFullScreen}}{{config_possibilityToFullScreen}}{{else}}false{{/if}};

    var possibilityToPass = {{#if config_possibilityToPass}}{{config_possibilityToPass}}{{else}}false{{/if}};

    var dictIntro = {{#if config_dictIntro}}JSON.parse(jsonFormatReplace("{{config_dictIntro}}")){{else}}[]{{/if}};

    /*
    -------------------------------------------
    CUSTOM SCRIPTS
    -------------------------------------------
    */

    var scriptGraph_GET = {{#if config_scriptGraph_GET}}JSON.parse(jsonFormatReplace("{{config_scriptGraph_GET}}")){{else}}[]{{/if}};

    /*
    -------------------------------------------
    CONFIG LLM
    -------------------------------------------
    */

    var llm_authorize = {{#if config_llm_authorize}}{{config_llm_authorize}}{{else}}false{{/if}};

</script>