<div id="appli_graph_cc">
    <div id="appli_graph_cc_element" class="pl-2">
        <a href="https://grezi.fr" target="_blank"><img class="licences_img lazyload" data-src="../../assets/img/grezi.webp"></img></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img	class="licences_img lazyload" alt="Licence Creative Commons BY SA 4.0" data-src="../../assets/img/creative_commons_logo.webp" /></a>
        <a href="https://lsc.encommuns.org/" target="_blank"><img class="licences_img lazyload"	alt="Legal Service For Commons, soutenir juridiquement les communs" data-src="../../assets/img/logo_lsc.webp" /></a>
        <a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.fr.html" target="_blank"><img class="licences_img lazyload"	alt="Licence GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007"	data-src="../../assets/img/agpl_v3_logo.webp" /></a>
    </div>
</div>