<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Résumé des informations présentes sur le graphe</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="summaryModal_body"></div>
            </div>
            <div class="modal-quit">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Quitter</button>
            </div>
        </div>
    </div>
</div>