<div class="modal fade" id="bugModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Rapport de l'application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="bug_report_appli"></div>
                {{#if displayGitLabURL}}
                    <p>Rendez-vous sur le <a href="{{metaGitRepository}}" target="_blank">GitLab</a> de	l'application pour signaler tout problème et/ou proposer des modifications.</p>
                {{/if}}
                {{#if displayFundingMessage}}
                    {{> homeDonateBloc}}
                {{/if}}
                <a href="mailto:{{mailTo}}?bcc:{{mailBcc}}&subject={{mailObject}} - {{graphName}}&body={{mailTemplate}}">Vous pouvez directement contacter l'équipe de développement en cliquant sur ce lien.</a>
                <div id="form_bug_report_IFRAME"><iframe name="form_bug_report_MAIL"></iframe></div>
            </div>
            <div class="modal-quit">
                <button id="bugModal_QuitButton" type="button" class="btn btn-primary" data-dismiss="modal"
                    aria-hidden="true">Quitter</button>
            </div>
        </div>
    </div>
</div>