<div class="modal fade" id="datasetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Sélection de la source de données</h4>
            </div>
            <div class="modal-body">
                <div id="datasetFile">
                    <p>
                    <form id="form_dataset_file" action="/dataset" method="post">
                        <div class="form-group">
                            <select id="form_dataset_file_options" class="form-control">
                            {{#if auth_DatasetSelection}}
                                {{#each auth_DatasetIdList}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            {{else}}
                                <option value="{{auth_DatasetDefault.id}}">{{auth_DatasetDefault.name}}</option>
                            {{/if}}
                            </select>
                        </div>
                    </form>
                    </p>
                </div>
            </div>
            <div class="modal-quit">
                <button class="btn btn-primary mb-1" id="dataset_button_submit">Confirmer</button>
            </div>
        </div>
    </div>
</div>