<div id="appli_graph_lateral_screen" class="col-xl-12 col-lg-12" >
    <div id="appli_graph_lateral_body">
        <div id="tooltipLateral_body_CONTAINER">
            <div id="tooltipLateral_body"></div>
        </div>
    </div>
</div>