<div id="appli_graph_SEARCHING">
    <div id="appli_graph_BUTTONS_BOX">
        <button href="#" id="appli_graph_SEARCH_BUTTON" type="button" class="btn btn-primary mb-1"><div style="display:flex;"><img class="lazyload" width="25" height="25" data-src="../../assets/icon/search.svg"></img><span style="padding-left:.5rem;">Trouver</span></div></button>
        <button href="#" id="appli_graph_SEARCH_BUTTON_filter" type="button" class="btn btn-primary mb-1"><div style="display:flex;"><img class="lazyload" width="25" height="25" data-src="../../assets/icon/filter-solid.svg"></img><span style="padding-left:.5rem;">Filtrer</span></div></button>
        <button href="#" id="appli_graph_SEARCH_BUTTON_proximity" type="button" class="btn btn-primary mb-1"><div style="display:flex;"><img class="lazyload" width="25" height="25" data-src="../../assets/icon/arrows-to-circle-solid.svg"></img><span style="padding-left:.5rem;">Proximité</span></div></button>
    </div>
    <div id="appli_graph_SEARCH_BAR"></div>
</div>