<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Authentification</h4>
            </div>
            <div class="modal-body">
                <div id="authFile">
                    <p>
                    <form id="form_auth_file">
                        <div class="form-group">
                            <input type="password" id="form_auth_file_input" class="md-textarea form-control" placeholder="Saisissez votre mot de passe"></input>
                        </div>
                    </form>
                    </p>
                    <p><a href="mailto:{{mailTo}}?bcc:{{mailBcc}}&subject=Mot de passe oublié">Mot de passe oublié ? Cliquez sur ce lien pour contacter l'administration de cette instance.</a></p>
                    <p id="auth_information"></p>
                    <br><br>
                    <p id="auth_specs">{{auth_Specifications}}</p>
                    <br><br>
                </div>
            </div>
            <div class="modal-quit">
                <button class="btn btn-primary mb-1" id="auth_button_submit">Confirmer</button>
            </div>
        </div>
    </div>
</div>