<div id="_talking_main_screen" style="display:none;">
    <div id="_talking_frame" class="row">
        <div id="_talking_image" class="col-0"></div>
        <div id="_talking_body" class="col-12">
            <div id="_talking_title"></div>
            <span id="_talking_typed"></span>
           {{#if config_featuresGraph.featureLlm}}<div id="_talking_mixtral" class="badge badge-primary badge_mixtral">Mixtral en cours de consultation</div>{{/if}}
            <span id="_talking_next_word">&nbsp;Cliquez pour continuer</span>
            <div id="_talking_frameForm" class="row">
                <textarea id="_talking_frameForm_MESSAGE" rows="4" cols="50" tabindex="1" onFocus="typed_Form=true;typed_Button=false;"></textarea>
            </div>
            <div class="row" style="display:flex;padding-left:inherit;padding-right:inherit;">
                <button id="_talking_frameForm_SEND" class="btn btn-secondary mx-1" tabindex="2" onFocus="typed_Form=false;typed_Button=true;">Envoyer</button>
                <div id="_talking_frameButtons"></div>
            </div>
        </div>
    </div>
</div>