<div class="modal fade" id="informationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Informations sur l'application</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="appli_graph_description">{{{body_FullDescription}}}</div>
                <div id="appli_graph_tutorial">
                    <div class="modal-hr">
                        <hr class="my-6">
                    </div>
                    <p style="text-decoration-line:underline;font-weight:bold;">Quelques principes d'utilisation :</p>
                    <ul>
                        <li style="margin:.5em 10% .5em 0" id="info_tooltip">Survolez certains éléments pour visualiser des informations additionnelles,</li>
                        <li style="margin:.5em 10% .5em 0" id="info_tooltipModal">Cliquez sur certains cercles pour	visualiser des informations additionnelles,</li>
                        <li style="margin:.5em 10% .5em 0" id="info_searchBar">Utiliser la barre de recherche en bas à droite pour filtrer certains éléments,</li>
                        <li style="margin:.5em 10% .5em 0" id="info_reload">Cliquez sur « RÉINITIALISER » (ou sur <img class="lazyload" data-src="../../assets/icon/redo-alt.svg"></img>) pour recharger le graphe dans le même état que lors de son chargement.</li>
                        <li style="margin:.5em 10% .5em 0">Double-cliquez n'importe où dans le canevas pour	recentrer le graphe sur la sélection,</li>
                        <li style="margin:.5em 10% .5em 0">Les boutons en haut à gauche permettent respectivement de :
                            <ul class="mb-0">
                                {{#if (isFalse cconfig_featuresButtons.toggle_fullscreen)}} {{!-- isFalse use to show this button even if the toggle is not set --}}
                                    <li id="toggle_fullscreen_LI" style="margin:.5em 10% .5em 0">mettre en plein écran : <img class="lazyload" data-src="../../assets/icon/arrows-alt.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_graphs}}
                                    <li id="toggle_graphs_LI" style="margin:.5em 10% .5em 0">revenir à la sélection des	graphes : <img class="lazyload" data-src="../../assets/icon/appli-graph.svg"></img></li>
                                {{/if}}
                                {{#if (or config_featuresButtons.toggle_lateralScreen config_featuresGraph.lateralOnLoad)}}
                                    <li id="toggle_lateralScreen_LI" style="margin:.5em 10% .5em 0">afficher un volet latéral pour visualiser les informations des cercles : <img class="lazyload" data-src="../../assets/icon/eye.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_stabilization}}
                                    <li id="toggle_stabilization_LI" style="margin:.5em 10% .5em 0">recentrer le graphe	sur la sélection : <img class="lazyload" data-src="../../assets/icon/map-marker-alt.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_physics}}
                                    <li id="toggle_physics_LI" style="margin:.5em 10% .5em 0">activer et désactiver la physique du graphe (sauf si mode de visualisation hiérarchique) : <img class="lazyload" data-src="../../assets/icon/shapes.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_fcose}}
                                    <li id="toggle_fcose_LI" style="margin:.5em 10% .5em 0">réorganiser le graphe : <img class="lazyload" data-src="../../assets/icon/fcose.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_ori_pos}}
                                    <li id="toggle_ori_pos_LI" style="margin:.5em 10% .5em 0">retrouver les positions initiales : <img class="lazyload" data-src="../../assets/icon/ori_pos.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_ind_link}}
                                    <li id="toggle_ind_link_LI" style="margin:.5em 10% .5em 0">afficher ou masquer les liens indirects : <img class="lazyload" data-src="../../assets/icon/ind_link.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_highlighter}}
                                    <li id="toggle_highlighter_LI" style="margin:.5em 10% .5em 0">mettre en avant des éléments (plusieurs modalités) : <img class="lazyload" data-src="../../assets/icon/highlight_self.svg"></img></li>
                                {{/if}}
                                {{#if (or config_featuresButtons.toggle_modeEditor config_featuresGraph.editorOnLoad)}}
                                    <li id="toggle_modeEditor_LI" style="margin:.5em 10% .5em 0">activer le mode édition : <img class="lazyload" data-src="../../assets/icon/pencil-alt.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_modeProximity}}
                                    <li id="toggle_modeProximity_LI" style="margin:.5em 10% .5em 0">activer le mode "graphe de proximité" : <img class="lazyload" data-src="../../assets/icon/arrows-to-circle-solid.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_modeMap}}
                                    <li id="toggle_modeMap_LI" style="margin:.5em 10% .5em 0">passer en mode cartographique	: <img class="lazyload" data-src="../../assets/icon/map.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_summary}}
                                    <li id="toggle_summary_LI" style="margin:.5em 10% .5em 0">afficher un résumé des informations du graphe : <img class="lazyload"	data-src="../../assets/icon/align-left.svg"></img></li>
                                {{/if}}
                                {{#if config_featuresButtons.toggle_save}}
                                    <li id="toggle_save_LI" style="margin:.5em 10% .5em 0">sauvegarder dans un fichier .doc les informations du graphe : <img class="lazyload" data-src="../../assets/icon/file-alt.svg"></img></li>
                                {{/if}}
                                {{#if (isFalse cconfig_featuresButtons.toggle_information)}} {{!-- isFalse use to show this button even if the toggle is not set --}}
                                    <li id="toggle_information_LI" style="margin:.5em 10% .5em 0">afficher la fenêtre d'information : <img class="lazyload"	data-src="../../assets/icon/information-alt.svg"></img></li>
                                {{/if}}
                                {{#if (isFalse config_featuresButtons.toggle_bug)}} {{!-- isFalse use to show this button even if the toggle is not set --}}
                                    <li id="toggle_bug_LI" style="margin:.5em 10% .5em 0">faire remonter un bug au développeur : <img class="lazyload" data-src="../../assets/icon/bug.svg"></img></li>
                                {{/if}}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="appli_graph_version">
                    <div class="modal-hr">
                        <hr class="my-6">
                    </div>
                    <p style="text-decoration-line:underline;font-weight:bold;">Versions de déploiement et informations techniques :</p>
                    <ul>
                        <li style="margin:.5em 10% .5em 0">Version de GREZI déployée : <span class="badge badge-primary"><b>{{{greziVersion}}}</b></span></li>
                        <li style="margin:.5em 10% .5em 0">Version de GREZI sur laquelle se base le gabarit : <span class="badge badge-primary"><b>{{{graphVersion}}}</b></span></li>
                        <li style="margin:.5em 10% .5em 0">Version du gabarit : <span class="badge badge-primary"><b>{{{templateVersion}}}</b></span></li>
                        <li style="margin:.5em 10% .5em 0">Nom du jeu de données : <span class="badge badge-primary"><b><span id="appli_graph_version_DatasetName"></span></b></span></li>
                        <li style="margin:.5em 10% .5em 0">Date du jeu de données : <span class="badge badge-primary"><b><span id="appli_graph_version_DatasetDate"></span></b></span></li>
                        <li style="margin:.5em 10% .5em 0">Filtre colorimétrique : <code><b><span id="appli_graph_filter_color"></span></b></code></li>
                    </ul>
                </div>
                <div id="appli_graph_credentials">
                    <div class="modal-hr">
                        <hr class="my-6">
                    </div>
                    <!-- Catalogue bloc -->
                    {{#if displayHomeCatalogueBloc}}
                        {{> homeCatalogueBloc}}
                    {{/if}}
                    <!-- Donate bloc -->
                    {{#if displayFundingMessage}}
                        {{> homeDonateBloc}}
                    {{/if}}
                    <!-- Footer -->
                    {{> homeFooter}}
                </div>
            </div>
            <div class="modal-quit">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    aria-hidden="true">Quitter</button>
            </div>
        </div>
    </div>
</div>