<div id="_showingCredentials" style="display:none;z-index:999999999;">
    <div id="_showingCredentials_TEXT">
        {{#if config_showingCredentials.title}}<h1>{{{config_showingCredentials.title}}}</h1>{{else}}<h1>Propulsé par</h1><h1>GREZI</h1>{{/if}}
        <p style="text-align:center;"><span id="_showingCredentials_STATUS" class="badge badge-primary" style="animation:blinker 2s linear infinite">Chargement en cours</span></p>
    </div>
    <div id="_showingCredentials_IMG">
        <img src="{{#if config_showingCredentials.img}}../../template_data/{{graphName}}/{{config_showingCredentials.img}}{{else}}../../assets/img/grezi.webp{{/if}}"></img>
    </div>
</div>