<div id="_talking_button" style="display:none;">
    {{#if config_featuresGraph.featureLlm}}
        <button id="_talking_button_llm" class="btn btn-primary mt-2"><img class="lazyload" width="25" height="25"  data-src="../../assets/img/grezia.png"></img> grez<span class="badge badge-primary">IA</span></button>
    {{/if}}
    {{#if config_featuresGraph.animation}}
        <button id="_talking_button_fullscreen" class="btn btn-primary mt-2"><img class="lazyload" width="25" height="25" data-src="../../assets/icon/arrows-alt.svg"></button>
        <button id="_talking_button_pass" class="btn btn-primary mt-2">Accès direct</button>
        <button id="_talking_button_launch" class="btn btn-primary mt-2">Lancer l'animation</button>
    {{/if}}
    {{#if config_featuresGraph.featureScreenShot}}
        <button id="_talking_button_screenshot" class="btn btn-primary mt-2">Capture d'écran</button>
    {{/if}}
</div>