<div id="appli_graph_buttons" class="pt-2 pr-2">
    <button href="#" id="view_ALL" type="button" class="btn btn-primary mb-1 mainViewButtons"
        style="text-align:center;">
        <span><b>RÉINITIALISER</b></span>
        <img class="lazyload" width="25" height="25" data-src="../../assets/icon/redo-alt.svg"></img>
    </button>
    <div id="appli_graph_buttons_MILLESIME"></div>
    <div id="appli_graph_buttons_LEGEND"></div>
</div>