<div id="appli_graph_element" class="mt-2 pl-2">
    {{#if (isFalse config_featuresButtons.toggle_fullscreen)}} {{!-- isFalse use to show this button even if the toggle is not set --}}
        <button id="toggle_fullscreen" type="button" class="btn btn-primary mb-1 fb_group_1"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></a></button>
        <br id="toggle_fullscreen_BR">
    {{/if}}
    <hr id="fb_group_2_HR" style="display:none;margin-top:0rem;margin-bottom:.25rem;margin-top:.25rem;padding-bottom:.25rem;">
    {{#if config_featuresButtons.toggle_graphs}}
        <button id="toggle_graphs" type="button" class="btn btn-primary mb-1 fb_group_2"><a href="/" class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_graphs_BR">
    {{/if}}
    {{#if (or config_featuresButtons.toggle_lateralScreen config_featuresGraph.lateralOnLoad)}}
        <button id="toggle_lateralScreen" type="button" class="btn btn-primary mb-1 fb_group_2"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_lateralScreen_BR">
    {{/if}}
    <hr id="fb_group_3_HR" style="display:none;margin-top:0rem;margin-bottom:.25rem;margin-top:.25rem;padding-bottom:.25rem;">
    {{#if config_featuresButtons.toggle_stabilization}}
        <button id="toggle_stabilization" type="button" class="btn btn-primary mb-1 fb_group_3"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_stabilization_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_physics}}
        <button id="toggle_physics" type="button" class="btn btn-primary mb-1 fb_group_3"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_physics_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_fcose}}
        <button id="toggle_fcose" type="button" class="btn btn-primary mb-1 fb_group_3"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_fcose_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_ori_pos}}
        <button id="toggle_ori_pos" type="button" class="btn btn-primary mb-1 fb_group_3"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_ori_pos_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_ind_link}}
        <button id="toggle_ind_link" type="button" class="btn btn-primary mb-1 fb_group_3"><a	class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_ind_link_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_highlighter}}
        <button id="toggle_highlighter" type="button" class="btn btn-primary mb-1 fb_group_3"><a class="tooltip-text"><img width="25" height="25"></img></a></button> {{!-- No lazyload to work with ___appli_graph.js --}}
        <br id="toggle_highlighter_BR">
    {{/if}}
    <hr id="fb_group_4_HR" style="display:none;margin-top:0rem;margin-bottom:.25rem;margin-top:.25rem;padding-bottom:.25rem;">
    {{#if (or config_featuresButtons.toggle_modeEditor config_featuresGraph.editorOnLoad)}}
        <button id="toggle_modeEditor" type="button" class="btn btn-primary mb-1 fb_group_4"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_modeEditor_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_modeProximity}}
        <button id="toggle_modeProximity" type="button" class="btn btn-primary mb-1 fb_group_4"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_modeProximity_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_modeMap}}
        <button id="toggle_modeMap" type="button" class="btn btn-primary mb-1 fb_group_4"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_modeMap_BR">
    {{/if}}
    <hr id="fb_group_5_HR" style="display:none;margin-top:0rem;margin-bottom:.25rem;margin-top:.25rem;padding-bottom:.25rem;">
    {{#if config_featuresButtons.toggle_summary}}
        <button id="toggle_summary" type="button" class="btn btn-primary mb-1 fb_group_5" data-toggle="modal" data-target="#summaryModal"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_summary_BR">
    {{/if}}
    {{#if config_featuresButtons.toggle_save}}
        <button id="toggle_save" type="button" class="btn btn-primary mb-1 fb_group_5"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_save_BR">
    {{/if}}
    <hr id="fb_group_6_HR" style="display:none;margin-top:0rem;margin-bottom:.25rem;margin-top:.25rem;padding-bottom:.25rem;">
    {{#if (isFalse cconfig_featuresButtons.toggle_information)}} {{!-- isFalse use to show this button even if the toggle is not set --}}
        <button id="toggle_information" type="button" class="btn btn-primary mb-1 fb_group_6" data-toggle="modal"	data-target="#informationModal"><a class="tooltip-text"><img class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_information_BR">
    {{/if}}
    {{#if (isFalse config_featuresButtons.toggle_bug)}} {{!-- isFalse use to show this button even if the toggle is not set --}}
        <button id="toggle_bug" type="button" class="btn btn-primary mb-1 fb_group_6" data-toggle="modal"	data-target="#bugModal" onclick="$('#bug_report_appli').html('');"><a class="tooltip-text"><img	class="lazyload" width="25" height="25"></img></a></button>
        <br id="toggle_bug_BR">
    {{/if}}
</div>