<div class="modal fade" id="otherModal" tabindex="-1" role="dialog" aria-labelledby="otherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="otherModalLabel">Divers</h4>
            </div>
            <div class="modal-body">
                <div id="otherModal_body"></div>
            </div>
            <div class="modal-quit">
                <button id="otherModal_QuitButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Quitter</button>
            </div>
        </div>
    </div>
</div>