<div id="appli_graph_TemplateGraphs">
    <div class="row justify-content-center no-gutters mt-3 mt-lg-3 mb-3 mb-lg-3">
        {{#if displayHomeLoadTemplate}}
        <div style="display:flex;justify-content:center;" class="col-4 no-decoration">
            <a role="button" class="btn btn-primary js-scroll-trigger" href="#loadTemplateTitle">
                <img class="lazyload" data-src="../../assets/icon/grezi_load_graph.svg">
                <p style="margin-top:0.5rem;font-family:Virgil,Arial;">Charger une cartographie publique</p>
            </a>
        </div>
        {{/if}}
        {{#if displayHomeCreateGraph}}
        <div style="display:flex;justify-content:center;" class="col-4 no-decoration">
            <a role="button" class="btn btn-primary" href="/graphs/grezi_create_graph">
                <img class="lazyload" data-src="../../assets/icon/grezi_create_graph.svg">
                <p style="margin-top:0.5rem;font-family:Virgil,Arial;">Créer un graphe<br>(pas de sauvegarde en ligne)</p>
            </a>
        </div>
        {{/if}}
        {{#if displayHomeUpdagePage}}
        <div style="display:flex;justify-content:center;" class="col-4 no-decoration">
            <a role="button" class="btn btn-primary" href="/update/fromHome">
                <img class="lazyload" data-src="../../assets/icon/grezi_update_graph.svg">
                <p style="margin-top:0.5rem;font-family:Virgil,Arial;">Générer un jeu de données</p>
            </a>
        </div>
        {{/if}}
    </div>
</div>