<div class="row justify-content-center no-gutters">
    <h1 id="loadTemplateTitle" {{#if isHomePage}}style="padding-top:9vh;"{{/if}}>Pour charger une cartographie publique, sélectionnez-la dans la liste ci-dessous</h1>
    <div id="appli_graph_IdsGraphs">
        {{#each graphList}}
        <div id="graphItem{{this.idGraph}}" class="inner row justify-content-center no-gutters mb-5 mb-lg-5">
            <a role="button" style="display:flex;" href="/graphs/{{this.idGraph}}">
                <div style="display:flex; align-items:center; padding:0;" class="col-lg-6">
                    <img class="img-fluid lazyload"
                        data-src="../../template_data/{{this.idGraph}}/{{this.configGraph.card_GRAPH}}"
                        onerror="this.onerror=null; this.src='../assets/img/default_card.png'"
                        title="EcoRhizo Graph : {{this.configGraph.title_GRAPH}}"
                        alt="{{this.configGraph.description_GRAPH}}"
                    >
                </div>
                <div class="col-lg-6 modal_block_text">
                    <div class="modal_block_text_CONTENT">
                        <h2>{{#if this.configGraph.title_GRAPH}}{{this.configGraph.title_GRAPH}}{{else}}{{this.idGraph}} (aucun titre défini){{/if}}</h2>
                        <p>{{#if this.configGraph.description_GRAPH}}{{this.configGraph.description_GRAPH}}{{else}}Aucun description renseignée{{/if}}</p>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>