<div class="row no-gutters" style="display:inherit;">
    <h1 id="descriptionTitle" {{#if isHomePage}}style="padding-top:9vh;"{{/if}}>Qu'est-ce que GREZI ?</h1>
    <div class="row justify-content-center no-gutters">
        <div style="display:flex" class="col-12 col-lg-2">
            <img class="lazyload mx-auto mx-lg-0 my-auto" style="height:50%" data-src="../../assets/img/grezi.webp" alt="© GREZI logo"></img>
        </div>
        <div class="col-12 col-lg-10">
            <p>Libre et open-source, il s'agit d'un <b>outil de cartographies narratives et interactives dédiées aux représentations systémiques des acteurs territoriaux</b>.</p>
            <p>Cette application s'utilise à travers un gabarit, c'est-à-dire une version personnalisée de <b>GREZI</b> avec un échantillon des fonctionnalités disponibles.{{#if displayHomeListBloc}} Les <a class= "js-scroll-trigger" href="#loadTemplateTitle">cartographies publiques</a> ci-dessous sont des exemples de différents gabarits.{{/if}}</p>
            <p>Pour en savoir plus sur ce bien commun et ses usages, consultez le <a href="https://grezi.fr" target="_blank">site internet</a>.</p>
            <p>Le code source de l'application est accessible sur <a href="{{metaGitRepository}}" target="_blank">GitLab</a>. Vos retours par <a href="mailto:contact@grezi.fr">mail</a> seront particulièrement appréciés.</p>
        </div>
    </div>
    <div class="mt-4 mb-4 pl-2" s style="text-align:right;">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img class="licences_img lazyload" alt="Licence Creative Commons BY SA 4.0"	data-src="../../assets/img/creative_commons_logo.webp" />
        </a>
        <a href="https://lsc.encommuns.org/" target="_blank">
            <img class="licences_img lazyload"	alt="Legal Service For Commons, soutenir juridiquement les communs"	data-src="../../assets/img/logo_lsc.webp" />
        </a>
        <a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.fr.html" target="_blank">
            <img class="licences_img lazyload" alt="Licence GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007" data-src="../../assets/img/agpl_v3_logo.webp" />
        </a>
    </div>
    <div class="modal-hr">
        <hr class="my-6">
    </div>
</div>