<div class="row justify-content-center no-gutters mt-5 mt-lg-5">
    <h1>Charger une cartographie privée</h1>
    <div id="appli_graph_LoadGraphs">
        <div class="row justify-content-center no-gutters pb-4 mt-3 mt-lg-3 mb-3 mb-lg-3">
            <div style="display:flex;justify-content:center;" class="col-9 no-decoration">
                <form id="form_updating" action="/load" method="get">
                    <div class="form-group">
                        <input type="password" id="form_load" name="password" class="md-textarea form-control" placeholder="Saisissez le mot de passe de votre cartographie"></input>
                    </div>
                    <button class="btn btn-primary" style="width:100%" type="submit">Envoyer</button>
                </form>
            </div>
            <div style="display:flex;justify-content:center;" class="col-3 pl-2 no-decoration">
                {{#compare loadStatus "===" "default"}}
					<div class="alert alert-primary mx-0 my-0 d-flex align-items-center justify-content-center" role="alert">En attente d'une requête</div>
				{{/compare}}
				{{#compare loadStatus "===" "no_password"}}
					<div class="alert alert-danger mx-0 my-0 d-flex align-items-center justify-content-center" role="alert">Mauvais mot de passe</div>
				{{/compare}}
            </div>
        </div>
    </div>
</div>