<div class="row justify-content-center no-gutter">
    <h1 id="templateTitle" {{#if isHomePage}}style="padding-top:9vh;"{{/if}}>Qu'est-ce qu'un gabarit ?</h1>
    <div id="div_template_image" class="mb-5">
        <img id="template_image" class="lazyload" data-src="../../assets/img/template_explanation.webp" alt="© GREZI template explanation">
    </div>
    <div class="modal-hr" style="width:100%;">
        <hr class="my-6">
    </div>
</div>