<div class="row justify-content-center no-gutters">
    <h1 id="catalogueTitle" {{#if isHomePage}}style="padding-top:9vh;"{{/if}}>Découvrir les gabarits et leur documentation dans le catalogue du site internet de GREZI<br>(en cours de construction)</h1>
    <div id="div_book_image" class="mb-5">
        <img id="book_image" class="lazyload" height="100%" data-src="../../assets/icon/grezi_book.svg" alt="© logo GREZI book templates">
        <a id="book_image_access" href="https://grezi.fr" target="_blank"><img class="lazyload" height="100%" data-src="../../assets/icon/grezi_book_access.svg" alt="© logo GREZI book templates (external access)"></a>
    </div>
    <div class="modal-hr" style="width:100%;">
        <hr class="my-6">
    </div>
</div>