<footer class="small text-center mt-4">
	<div class="container pt-4 pb-4">
		<h2>MENTIONS LÉGALES</h2>
		<hr class="my-6 mt-4 mb-4" style="border-width:0">
		<!-- Logos -->
		<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img class="licences_img lazyload" alt="Licence Creative Commons BY SA 4.0" data-src="../../assets/img/creative_commons_logo.webp" /></a>
		<a href="https://lsc.encommuns.org/" target="_blank"><img class="licences_img lazyload" alt="Legal Service For Commons, soutenir juridiquement les communs" data-src="../../assets/img/logo_lsc.webp" /></a>
		<a rel="license" href="http://www.gnu.org/licenses/agpl-3.0.fr.html" target="_blank"><img class="licences_img lazyload" alt="Licence GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007" data-src="../../assets/img/agpl_v3_logo.webp" /></a>
		<hr class="my-6" style="border-width:0">
		<!-- Licence Creative Commons -->
		Les contenus graphiques de <a xmlns:cc="https://creativecommons.org/ns#" href="../../grezi_website" property="cc:attributionName" rel="cc:attributionURL" target="_blank">GREZI</a> sont mis à disposition selon les termes de la <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">licence Creative Commons Attribution BY SA 4.0 International</a>.
		<hr class="my-6" style="border-width:0">
		<!-- LSC -->
		Le nom <a xmlns:cc="https://creativecommons.org/ns#" href="../../grezi_website" property="cc:attributionName" rel="cc:attributionURL" target="_blank">GREZI</a> est protégé par la <a rel="license" href="https://lsc.encommuns.org/" target="_blank">LSC</a> en tant que <a href="https://wiki.lafabriquedesmobilites.fr/wiki/Communs/Qu%27est_ce_qu%27un_commun_%3F" target="_blank">commun</a>.
		<hr class="my-6" style="border-width:0">								
		<!-- Licence AGPL -->
		Le code informatique de <a xmlns:cc="https://creativecommons.org/ns#" href="../../grezi_website" property="cc:attributionName" rel="cc:attributionURL" target="_blank">GREZI</a> est protégé par la licence <a href="http://www.gnu.org/licenses/agpl-3.0.fr.html" target="_blank">GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007</a>.
		<hr class="my-6" style="border-width:0">
		<!-- Legals -->
		<b>Responsable de la publication du site :</b> Adrien SOLACROUP, alias <a href="https://ecorhizo.fr" target="_blank">EcoRhizo</a> comme nom d'activité commerciale, encadré via un contrat CESA par <a href="https://www.oxalis-scop.fr/" target="_blank">Oxalis</a> dont le siège est situé 603 Boulevard Wilson 73100 AIX-LES-BAINS FRANCE. / <b>Numéro SIREN :</b> 410 829 477 00216 / <b>NAF :</b> 8299z / <b>RCS de Chambery :</b> 410829477 / <b>TVA Intracom :</b> FR41410829477
		<hr class="my-6" style="border-width:0">
        <!-- EcoRhizo Ethic -->
        Consulter les <a href="https://ecorhizo.fr/_web_pages/_charte.html" target="_blank">mentions légales du site et la charte éthique et écologique de cette activité commerciale</a>.
        <hr class="my-6" style="border-width:0">
		</p>
	</div>
</footer>