<div id="appli_graph_spinner">
    <div class="d-flex align-items-center justify-content-center" style="flex-wrap:wrap;padding:5%;position:relative;height:100%;width:100%">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div style="flex-basis:100%;"></div>
        <div id="appli_graph_progessbar"></div>
    </div>
</div>