<div id="appli_graph">

	<div class="container mt-4 pt-4">

		<datami-file
			title="Test d'intégration de Datami dans GREZI" 
			gitfile="https://gitlab.com/EcoRhizo/datami_data/-/blob/main/projet_test/data/nodes.csv" 
			options='{
				"height": "100px",
				"pagination": {
					"itemsPerPage": 5
				}
			}'
			locale="fr" 
		></datami-file>

	</div>

</div>

<script src="https://datami-widget.multi.coop/js/app.js" type="text/javascript"></script>
