<div id="appli_graph" data-config="{{greziVersion}}">

	{{#if config_showingCredentials.activate}}
	<!-- Talking screen (introduction) -->
	{{> graphDiv_ShowingCredentials}}
	{{/if}}

	{{#if (or config_featuresGraph.animation config_featuresGraph.featureLlm)}}
	<!-- Talking screen (main) -->
	{{> graphDiv_TalkingScreen}}
	{{/if}}

	<!-- Lateral screen -->
	{{> graphDiv_LateralScreen}}

	<!-- Main screen -->
	<div id="appli_graph_main_screen" class="col-xl-12 col-lg-12">

		<!-- Graph screen -->
		<div id="appli_graph_network_CONTAINER">
			<div id="appli_graph_network"></div>
		</div>

		{{#if (or config_featuresGraph.animation config_featuresGraph.featureScreenShot config_featuresGraph.featureLlm)}}
		<!-- Animation Buttons -->
		{{> graphDiv_AnimationButtons}}
		{{/if}}

		<!-- View Buttons -->
		{{> graphDiv_ViewButtons}}

		<!-- Functions Buttons -->
		{{> graphDiv_FunctionsButtons}}

		<!-- Search bar -->
		{{> graphDiv_Searching}}

		<!-- Creative Commons -->
		{{#if displayCC}}
			{{> creativeCommonsDiv}}
		{{/if}}

		<!-- Spinner -->
		{{> spinnerDiv}}

	</div>


	<!-- Modal screen INFORMATION -->
	{{> graphModal_Information}}

	<!-- Modal screen SUMMARY -->
	{{> graphModal_Summary}}

	{{#if config_featuresGraph.featureLlm}}
	<!-- Modal screen SUMMARY -->
	{{> graphModal_LlmHistory}}
	{{/if}}

	<!-- Modal screen SELECTION -->
	{{> graphModal_Selection}}

	<!-- Modal screen DATASET -->
	{{> graphModal_Dataset}}

	<!-- Modal screen AUTHENTIFICATION -->
	{{> graphModal_Auth}}

	<!-- Modal screen BUG REPORT -->
	{{> graphModal_Bug}}

	<!-- Modal screen OTHER -->
	{{> graphModal_Other}}


	<!-- Click to begin -->
	<div id="appli_graph_mask">
		<h3>Cliquer pour commencer</h3>
	</div>


</div>

<script language='JavaScript' type='text/javascript' src='{{externalLib_CytoscapeCoreJS}}'></script>

<script language='JavaScript' type='text/javascript' src='{{externalLib_ProgressbarCoreJS}}'></script>

{{!-- FOR LATER INTEGRATION OF SERVERSIDE CONFIG LIBRAIRIES --}}

{{#if config_featuresGraph.featureBubblesets}}
<script language='JavaScript' type='text/javascript' src='https://cdn.jsdelivr.net/npm/lodash'></script>
<script language='JavaScript' type='text/javascript' src='https://cdn.jsdelivr.net/npm/cytoscape-layers'></script>
{{/if}}

{{!-- {{#if featureScreenShot}}
<script language='JavaScript' type='text/javascript' src='https://cdn.jsdelivr.net/npm/file-saver@2.0.5/dist/FileSaver.min.js'></script>
<script language='JavaScript' type='text/javascript' src='https://cdn.jsdelivr.net/npm/canvas2svg@1.0.16/canvas2svg.min.js'></script>
<script language='JavaScript' type='text/javascript' src='https://cdn.jsdelivr.net/npm/cytoscape-svg@0.4.0/cytoscape-svg.min.js'></script>
{{/if}} --}}

{{> configVariablesScript}}

<script language='JavaScript' type='text/javascript' src='../../assets/js/___main_graph.js'></script>
