<div id="appli_graph">

		<!-- HEADER -->
		<header class="masthead">
			<div class="container d-flex h-100 align-items-center">
				<div class="row mx-auto text-center">

					<div class="row justify-content-center no-gutters mx-auto mt-5 mb-5 mt-lg-5 mb-lg-5">
						<h1 style="padding-top:6vh;">Bienvenue sur l'application </h1>
						<img id="welcome_logo" class="lazyload" data-src="../../assets/img/grezi_words.webp" alt="© GREZI logo with words"></img>
					</div>

					{{#if displayHomeWelcomeBloc}}
						{{> homeWelcomeBloc}}
					{{/if}}

					{{#if displayHomePrivateTemplate}}
						{{> homeLoadBloc}}
					{{/if}}
				
				</div>
			</div>
		</header>

	<!-- GRAPH CHOICE -->
	<div id="graph_choice" class="container">

		{{#if displayHomeDescriptionBloc}}
			{{> homeDescriptionBloc}}
		{{/if}}

		{{#if displayHomeDonateBloc}}
			{{> homeDonateBloc}}
		{{/if}}

		{{#if displayHomeTemplateBloc}}
			{{> homeTemplateBloc}}
		{{/if}}

		{{#if displayHomeCatalogueBloc}}
			{{> homeCatalogueBloc}}
		{{/if}}

		{{#if displayHomeListBloc}}
			{{> homeListBloc}}
		{{/if}}

	</div>

	<!-- Footer -->
	{{> homeFooter}}

	<!-- Spinner -->
	{{> spinnerDiv}}

</div>
