<div id="appli_graph">

	<div id="graph_choice" class="container">

		<div class="row justify-content-center no-gutters pt-5 mb-5 pt-lg-5 mb-lg-5">
			<h1>Saisissez les informations nécessaires</h1>
		</div>

		<div class="row justify-content-center no-gutters mb-5 mb-lg-5">
			<form id="form_updating" action="/update{{#if isFromHome}}/fromHome{{/if}}{{#if showGraphList}}{{else}}/{{#each graphList}}{{this.idGraph}}{{/each}}{{/if}}" method="get">
				<div style="display:{{#if showGraphList}}initial{{else}}none{{/if}};">
					<h2>Choix du gabarit</h2>
					<div class="form-group">
						<select id="form_template_selection" name="template" class="form-control">
							{{#each graphList}}
								<option value="{{this.idGraph}}" {{#if this.isSelected}}selected{{/if}}>{{this.configGraph.title_GRAPH}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<h2>Validation</h2>
				<div class="form-group">
					<input type="password" id="form_auth" name="password" class="md-textarea form-control" placeholder="Saisissez votre mot de passe de mise à jour"></input>
				</div>
				<p><a href="mailto:{{mailTo}}?bcc:{{mailBcc}}&subject=Mot de passe oublié">Mot de passe oublié ? Cliquez sur ce lien pour contacter l'administration de cette instance.</a></p>
				<button class="btn btn-primary" type="submit">Envoyer</button>
			</form>
		</div>

		<div class="row align-items-center justify-content-center no-gutters pt-5 mb-5 mb-lg-5">
			<div class="col-lg-4">
				<h2 class="mb-0">Statut du générateur</h2>
			</div>
			<div class="col-lg-8">
				{{#compare status "===" "default"}}
					<div class="alert alert-primary mb-0" role="alert">En attente d'une requête</div>
				{{/compare}}
				{{#compare status "===" "error"}}
					<div class="alert alert-danger mb-0" role="alert">Mauvais mot de passe</div>
				{{/compare}}
				{{#compare status "===" "computing"}}
					<div class="alert alert-info mb-0" role="alert">Génération du jeu de données en cours{{#if mailFromUpdate}}, une notification mail sera envoyée à l'issue du traitement.{{/if}}</div>
				{{/compare}}
				{{#compare status "===" "updated"}}
					<div class="alert alert-success mb-0" role="alert">Le jeu de données a correctement été généré</div>
				{{/compare}}
			</div>
		</div>

	</div>

	<!-- Footer -->
	{{> homeFooter}}

</div>

