/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

#_talking_main_screen {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-color: rgba(0, 0, 0, 0.5);
}

#_talking_frame {
  z-index: 999999;
  pointer-events: auto;
  overflow-y: scroll;
  max-height: 75%;
  min-height: 25%;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--main_color_01);
  box-shadow: 2px 2px 5px black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.25s ease-in-out;
}

.zoom-animation {
  transform: scale(1.01);
  transition: transform 0.25s ease-in-out;
}

#_talking_frame .badge-primary {
  background-color: var(--main_color_02);
}

#_talking_frame .badge_mixtral {
  display: none;
  font-size: 1.25rem;
  animation: blinker 1.5s linear infinite;
}

#_talking_frame .badge-primary a:hover {
  font-weight: inherit;
}

#_talking_body .btn {
  background-color: var(--main_color_02);
  font-weight: bold;
}

#_talking_body .btn:hover {
  background-color: var(--main_color_02_dark);
}

#_talking_image {
  padding: 0;
  display: none;
  justify-content: center;
  align-items: flex-start;
}

#_talking_image img {
  max-height: 100%;
  max-width: 100%;
}

#_talking_title {
  color: white;
}

#_talking_title h1 {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

#_talking_typed {
  color: white;
  font-size: 1rem;
  pointer-events: none;
}

#_talking_next_word {
  display: none;
  color: white;
  font-size: 50%;
  font-style: italic;
  animation: blinker 1.5s linear infinite;
}

#_talking_frameForm {
  display: flex;
  padding-left: inherit;
  padding-right: inherit;
}

#_talking_frameForm_MESSAGE {
  display: none;
  pointer-events: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  width: 100%;
  color: var(--main_color_01);
  border: 2px solid var(--main_color_02);
}

#_talking_frameForm_SEND {
  display: none;
  pointer-events: auto;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#_talking_frameForm_SEND:focus {
  background-color: var(--main_color_01_faded);
}

#_talking_frameButtons button {
  pointer-events: auto;
  margin-right: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
}

#_talking_frameButtons button:focus {
  background-color: var(--main_color_01_faded);
}

#llmHistoryModal_body .row .col-9 {
  border: .15rem solid;
  border-radius: 1rem;
}

#llmHistoryModal_body .row .col-9 .llm_role {
  display: flex;
  font-family: "Virgil", Arial;
}

#llmHistoryModal_body .row .col-9 .badge {
  height: fit-content;
  align-self: center;
}

#llmHistoryModal_body .row .col-assistant {
  text-align: right;
  border-color: var(--main_color_01);
}

#llmHistoryModal_body .row .col-user {
  border-color: var(--main_color_02);
}

#llmHistoryModal_body .row .col-assistant .llm_role {
  justify-content: right;
}

#llmHistoryModal_body .row .col-user .llm_role {
  justify-content: left;
}

@media (min-width: 400px) {
	#_talking_image {
	  padding: inherit;
	}
	#_talking_title h1 {
	  font-size: 1rem;
	  margin-bottom: 0.5rem;
	}
	#_talking_typed {
	  font-size: 1.25rem;
	}
	#_talking_next_word {
	  font-size: 100%;
	}
}

@media (min-width: 992px) {
	#_talking_image {
		padding: inherit;
	}
	#_talking_frame {
	  margin: 4rem;
	  padding: 1rem;
	}
	#_talking_title h1 {
	  font-size: 1.5rem;
	  margin-bottom: 1rem;
	}
	#_talking_typed {
	  font-size: 1.5rem;
	}
	#_talking_next_word {
	  font-size: 125%;
	}
}