/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

#popperEditor {
  z-index: 10;

  max-width: 55%;

  position: absolute;
  padding: 1rem;
  margin: 1rem;
  white-space: break-word;

  font-family: Arial;
  font-size: 14px;
  color: var(--main_color_01);
  background-color: var(--main_color_editor_01);

  border: none;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

}

#editorSimple_form_label {
  color: white;
  background: none;
  border: none;
}

#editorSimple_span {
  color: var(--main_color_01);
  position: absolute;
  font-weight: bold;
  top: -40%;
}
