/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

.introjs-tooltip {
  font-size: 75%;
  font-weight: bold;
  max-width: none;
  padding: 0;
  background-color: var(--main_color_04);
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.introjs-tooltiptext {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--main_color_01);
  font: inherit;
  font-size: 125%;
}

.introjs-helperLayer {
  background-color: var(--main_color_04_faded);
}

.introjs-arrow.top,
.introjs-arrow.top-right,
.introjs-arrow.top-middle {
  border-bottom-color: var(--main_color_01);
}

.introjs-arrow.bottom,
.introjs-arrow.bottom-middle {
  border-top-color: var(--main_color_01);
}

.introjs-arrow.left {
  border-right-color: var(--main_color_01);
}

.introjs-progress {
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
  background-color: var(--main_color_02);
}

.introjs-progressbar {
  padding-bottom: 0.5rem;
  background-color: var(--main_color_01);
}

.introjs-tooltipbuttons {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.introjs-skipbutton {
  margin-right: 2rem;
}

.introjs-prevbutton {
  border-right: 0.25rem solid var(--main_color_01) !important;
}

.introjs-button,
.introjs-prevbutton,
.introjs-nextbutton,
.introjs-skipbutton {
  margin-top: 0;
  background-image: none;
  font: inherit;
  font-weight: normal !important;
  border: none;
  text-shadow: none;
  color: white !important;
  background-color: var(--main_color_02) !important;
}

.introjs-button:hover,
.introjs-prevbutton:hover,
.introjs-nextbutton:hover,
.introjs-skipbutton:hover {
  color: var(--main_color_02) !important;
  background-color: white !important;
  border: none;
  box-shadow: none;
}

.introjs-disabled {
  color: var(--main_color_03_faded) !important;
  font-style: italic !important;
  opacity: 0.5 !important;
}

.introjs-disabled:hover {
  background-color: var(--main_color_02) !important;
  border: none;
  box-shadow: none;
}

.introjs-button:focus,
.introjs-prevbutton:focus,
.introjs-nextbutton:focus,
.introjs-skipbutton:focus,
.introjs-button:active,
.introjs-prevbutton:active,
.introjs-nextbutton:active,
.introjs-skipbutton:active {
  background: none;
  text-decoration: none;
  box-shadow: none;
}

.introjs-overlay {
  opacity: 0.5 !important;
  background: var(--main_color_05);
}

.introjs-hint {
  z-index: 99999 !important;
}

.introjs-hint-dot {
  border-color: var(--main_color_02) !important;
}

.introjs-hint-pulse {
  opacity: 0.75;
  border-color: var(--main_color_02) !important;
}

