<!DOCTYPE html>
<html>

    <head>

        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <meta name='description' content='{{metaDescription}}' />
        <meta name='author' content='{{metaAuthor}}' />
        <meta name='git_repository' content='{{metaGitRepository}}' />
        <meta http-equiv='cache-control' content='max-age=0' />
        <meta http-equiv='expires' content='0' />
        <meta http-equiv='pragma' content='no-cache' />

        <link id='page_icon' rel='icon' href='{{metaPageIcon}}' />

        <title>{{metaTitle}}</title>

        <link rel='canonical' href='{{mainDomain}}' />

        <!-- Open Graph Protocol -->
        <meta property='og:locale' content='fr_FR' />
        <meta property='og:type' content='article' />
        <meta property='og:title' content='{{ogTitle}}' />
        <meta property='og:description' content='{{ogDescription}}' />
        <meta property='og:url' content='{{mainDomain}}' />
        <meta property='og:site_name' content='{{ogSiteName}}' />
        <meta property='og:image' content='{{#if (and ogImage isGraphPage)}}{{mainDomain}}/template_data/{{graphName}}/{{ogImage}}{{else}}{{mainDomain}}/{{ogImage}}{{/if}}' />

        <!-- Twitter Card -->
        <meta name='twitter:card' content='summary' />
        <meta name='twitter:site' content='{{twitterSite}}' />
        <meta name='twitter:title' content='{{twitterTitle}}' />
        <meta name='twitter:description' content='{{twitterDescription}}' />
        <meta name='twitter:image' content='{{#if (and twitterImage isGraphPage)}}{{mainDomain}}/template_data/{{graphName}}/{{twitterImage}}{{else}}{{mainDomain}}/{{twitterImage}}{{/if}}' />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{externalLib_BootstrapCoreCSS}}" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!-- Bootstrap plugin CSS -->
        <link href='{{externalLib_BootstrapPluginCSS}}' rel='stylesheet' />

        <!-- Colors CSS -->
        <style>
            :root {
                --main_color_01: {{main_color_01}};
                --main_color_02: {{main_color_02}};
                --main_color_03: {{main_color_03}};
                --main_color_04: {{main_color_04}};
                --main_color_05: {{main_color_05}};
                --main_color_01_faded: {{main_color_01_faded}};
                --main_color_03_faded: {{main_color_03_faded}};
                --main_color_02_dark: {{main_color_02_dark}};
                --main_color_node: {{main_color_node}};
                --main_color_editor_01: {{main_color_editor_01}};
                --main_color_editor_02: {{main_color_editor_02}};
                --quit_color_01: {{quit_color_01}};
                --quit_color_02: {{quit_color_02}};
                --quit_color_03: {{quit_color_03}};
                {{#each config_rootColors_NEW}}
                {{this.name}}: {{this.color}};
                {{/each}}
            }
        </style>

        <!-- Custom styles of GREZI -->
        <link href='../../assets/css/_custom.css' rel='stylesheet' />
        <link href='../../assets/css/_custom_graph.css' rel='stylesheet' />

        <!-- Custom styles for template graph -->
        {{#if (or config_featuresGraph.animation config_featuresGraph.featureLlm)}}
        <link href='../../assets/css/_mod_talking_circles.css' rel='stylesheet' />
        {{/if}}

    </head>

    <body id='page-top'>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container-fluid">
                <!-- Logo -->
                {{#if navbar_ShowNavigation}}
                    {{#if isFromHome}}
                        <a class="navbar-brand" href="/" style="padding:.25rem;"><img id="nav_image" style="width:auto;" height="25px" src="../../assets/icon/circle-left-solid.svg" alt="Bouton retour"></img></a>
                    {{else}}
                        {{#if navbar_ShowNavigation}}
                        <a class="navbar-brand" href="/{{#if directId}}graphs/{{directId}}{{/if}}" style="padding:.25rem;"><img id="nav_image" style="width:auto;" height="25px" src="../../assets/icon/circle-left-solid.svg" alt="Bouton retour"></img></a>
                        {{else}}
                            {{#if navbar_LogoShow}}
                            <a class="navbar-brand js-scroll-trigger" href="{{navbarLogoUrl}}" {{#if navbar_LogoUrl}}target="_blank"{{/if}}>
                                <img id="nav_image" style="width:auto;" height="40px" src="{{navbarLogoImg}}" alt="Logo de la page graphe"></img>
                            </a>                        
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{#if navbar_LogoShow}}
                        <a class="navbar-brand js-scroll-trigger" href="{{navbarLogoUrl}}" {{#if navbar_LogoUrl}}target="_blank"{{/if}}>
                            <img id="nav_image" style="width:auto;" height="40px" src="{{navbarLogoImg}}" alt="Logo de la page graphe"></img>
                        </a>                        
                    {{/if}}
                {{/if}}
                <!-- Mode indicator -->
                {{#if isGraphPage}}
                <div id="modeIndicator"></div>
                {{/if}}
                <!-- Home buttons -->
                {{#if isHomePage}}
                    <ul class="collapse navbar-collapse navbar-nav ml-auto align-items-center" style="width:100%;justify-content:right;">
                        {{#if displayHomeLoadTemplate}}
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="#loadTemplateTitle"><img style="height:40px;" src="../../assets/icon/grezi_load_graph.svg"></a>
                            </li>
                        {{/if}}
                        {{#if displayHomeCreateGraph}}
                            <li class="nav-item">
                                <a class="nav-link" href="/graphs/grezi_create_graph"><img style="height:40px;" src="../../assets/icon/grezi_create_graph.svg"></a>
                            </li>
                        {{/if}}
                        {{#if displayHomeUpdagePage}}
                            <li class="nav-item">
                                <a class="nav-link" href="/update/fromHome"><img style="height:40px;" src="../../assets/icon/grezi_update_graph.svg"></a>
                            </li>
                        {{/if}}
                    </ul>
                {{/if}}
                <!-- Menu -->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu<i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto align-items-center">
                        {{#if isHomePage}}
                            	{{#if displayHomeWelcomeBloc}}
                                    <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#appli_graph">Accueil</a>
                                    </li>
                                    {{#if displayHomeDescriptionBloc}}
                                        <li class="nav-item">
                                            <a class="nav-link js-scroll-trigger" href="#descriptionTitle">Présentation</a>
                                        </li>
                                    {{/if}}
                                    {{#if displayHomeDonateBloc}}
                                        <li class="nav-item">
                                            <a class="nav-link js-scroll-trigger" href="#donateTitle">Soutenir</a>
                                        </li>
                                    {{/if}}
                                {{/if}}
                                {{#if displayHomeTemplateBloc}}
                                    <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#templateTitle">Gabarit</a>
                                    </li>
                                {{/if}}
                                {{#if displayHomeCatalogueBloc}}
                                    <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#catalogueTitle">Catalogue</a>
                                    </li>
                                {{/if}}
                                {{#if displayHomeListBloc}}
                                    <li class="nav-item">
                                        <a class="nav-link js-scroll-trigger" href="#loadTemplateTitle">Découvrir</a>
                                    </li>
                                {{/if}}
                        {{else}}
                            {{#if displayHomeUpdagePage}}
                                <li class="nav-item">
                                    <a class="nav-link" href="/update{{#if isGraphPage}}/{{graphName}}{{/if}}"><img style="height:40px;" src="../../assets/icon/grezi_update_graph.svg"></a>
                                </li>
                            {{/if}}
                            <span id="nav_title">{{navbarTitle}}</span>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Jquery core JavaScript -->
        <script language='JavaScript' type='text/javascript' src='{{externalLib_JqueryCoreJS}}'></script>

        <!-- Bootstrap core JavaScript -->
        <script src="{{externalLib_BootstrapCoreJS}}" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <!-- Bootstrap plugin JavaScript -->
        <script language='JavaScript' type='text/javascript' src='{{externalLib_BootstrapPluginJS}}'></script>

        <!-- Lazysizes core JavaScript -->
        <script language='JavaScript' type='text/javascript' src='{{externalLib_LazysizesCoreJS}}'></script>

        {{#if isHomePage}}
            <!-- Jquery easing JavaScript -->
            <script language='JavaScript' type='text/javascript' src='{{externalLib_JqueryEasingJS}}'></script>
            <!-- Scrolling custom JavaScript -->
            {{> scrollingScript}}
        {{/if}}

        {{{body}}}

        {{#if activateMatomo}}
            <!-- Matomo Code [OPTIONAL] -->
            <script>
                var _paq = window._paq = window._paq || []; _paq.push(['requireCookieConsent']); _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function () { var u = '{{matomoUrl}}';
                _paq.push(['setTrackerUrl', u + 'piwik.php']); _paq.push(['setSiteId', '1']); var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]; g.async = true;
                g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s); })();
            </script>
            <!-- End Matomo Code -->
        {{/if}}

        <script>
            window.addEventListener('load', function() {
                document.body.style.display = 'initial';
            });
        </script>

    </body>

</html>